:root {
  --gb-purple: #8c52ff;
}

.bio-container {
  height: 100%;
}

.bio-txt-main {
  margin-top: 30%;
  padding: 15%;
  font-size: 1.2em;
}

.bio-txt {
  position: relative;
  top: 350px;
  animation: fadeInAnimation ease 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.bio-txt-2 {
  position: relative;
  top: 50px;
  animation: fadeInAnimation ease 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.bio-txt-3 {
  position: relative;
  top: 300px;
  animation: fadeInAnimation ease 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.bio-txt-4 {
  position: relative;
  top: 500px;
  animation: fadeInAnimation ease 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

i {
  color: var(--gb-purple);
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* .logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
}

.gb-logo {
  background-image: url("../../../public/images/GB-SPIN.png") no-repeat;
  height: 100px;
  width: 100px;
  pointer-events: none;
} */

/* @keyframes gb-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
