:root {
  --gb-purple: #8c52ff;
}

.bio-container {
  height: 100vh;
}

.text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.bio-txt-main {
  width: 80%;
  margin: 0 0;
}

.bio-txt {
  animation: fadeInAnimation ease 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.bio-txt-2 {
  animation: fadeInAnimation ease 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.bio-txt-3 {
  animation: fadeInAnimation ease 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.bio-txt-4 {
  animation: fadeInAnimation ease 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

i {
  color: var(--gb-purple);
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* .logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
}

.gb-logo {
  background-image: url("../../../public/images/GB-SPIN.png") no-repeat;
  height: 100px;
  width: 100px;
  pointer-events: none;
} */

/* @keyframes gb-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
