.bio-background {
  height: 100vh;
  width: 100vw;
  position: relative;
  text-align: center;
  color: white;
  background-image: url("../../../public/images/GB-bw.png");
  background-repeat: no-repeat;
  transition: 10s ease-in;
  transition-delay: 5s;
  font-size: 2vmax;
}

.bio-txt {
  position: absolute;
  top: 15px;
  left: 30px;
}

.bio-txt-2 {
  position: absolute;
  top: 170px;
  right: 30px;
}

.bio-txt-3 {
  position: absolute;
  bottom: 190px;
  left: 16px;
}

.bio-txt-4 {
  position: absolute;
  bottom: 38px;
  right: 30px;
}

i {
  color: blueviolet;
}
/* .logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
}

.gb-logo {
  background-image: url("../../../public/images/GB-SPIN.png") no-repeat;
  height: 100px;
  width: 100px;
  pointer-events: none;
} */

/* @keyframes gb-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
