.card-flex {
  width: 70vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card-flex-container {
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.card-flex-item {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}
