.item-card {
  margin: 0;
  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item-image {
  max-width: 100%;
  height: auto;
}

.item-image-container {
  max-width: 300px;
  max-height: 300px;
}

.item-image-wrap {
  display: flex;
  width: 100%;
  justify-content: center;
}

.card-footer {
  justify-content: center;
}
