.item-card {
  margin: 0;
  width: 20vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  opacity: 0.8;
}

.item-image {
  max-width: 100%;
  height: auto;
}

.item-image-container {
  max-width: 300px;
  max-height: 300px;
  border: 5px solid var(--gb-purple);
  border-radius: 2%;
}

.item-image-wrap {
  display: flex;
  width: 100%;
  justify-content: center;
}

.card-footer {
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .item-card {
    width: 80vw;
  }
}
